@model List<ListAppUserDto>
@{
    ViewData["Title"] = "ListUsers";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<div class="row">
     <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>Kullanıcılar</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>İsim</th>
                                <th>Soyisim</th>
                                <th>Mail</th>
                                <th>Şehir</th>
                                <th>Ülke</th>
                                <th>İş Departmanı</th>
                                <th>İş Lokasyonu</th>
                                 <th>Düzenle</th>
                                 <th>Rol Düzenle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
            {
                count++;
                    <tr>
                                <th>@count</th>
                                <td>@item.Name</td>
                                <td>@item.Surname</td>
                                <td>@item.Email</td>
                                <td>@item.City</td>
                                <td>@item.Country</td>
                                <td><span class="badge badge-info px-2">@item.WorkDepartment</span>
                                </td>
                                 <td><span class="badge badge-warning px-2">@item.WorkLocation.WorkLocationCity</span>
                                </td>
                                <td><a href="/Users/GetUser/@item.Id" class="btn mb-1 btn-rounded btn-outline-success"><i class="fas fa-edit"></i></a></td>
                                <td><a href="/Users/AssignRole/@item.Id" class="btn mb-1 btn-rounded btn-outline-dark"><i class="fas fa-edit"></i></a></td>
                           
                            </tr>
            }
                                           

                        </tbody>
                    </table>
                @*<a href="/Staff/AddStaff/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Personel</a>*@
                </div>
            </div>
        </div>
    </div>
</div>

