@model List<Booking>
@{
    ViewData["Title"] = "ListBookings";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<div class="row">
     <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>Personeller</h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Mail</th>
                                <th>Giriş</th>
                                <th>Çıkış</th>
                                <th>Durum</th>
                                <th>Onayla</th>
                                <th>İptal Et</th>
                                <th>Düzenle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
            {
                    <tr>
                                <th>@item.BookingID</th>
                                <td>@item.Name</td>
                                <td>@item.Mail</td>
                                <td>@(((DateTime)(item.Checkin)).ToString("dd-MMM-yyyy"))</td>
                                <td>@(((DateTime)(item.CheckOut)).ToString("dd-MMM-yyyy"))</td>
                                    @if(item.Status == BookingStatus.IptalEdildi)
                                    {
                                        <td><span class="badge badge-danger px-2">İptal Edildi</span></td>
                                    }
                                    else if(item.Status == BookingStatus.Onaylandı)
                                    {
                                        <td><span class="badge badge-success px-2">Onaylandı</span></td>
                                        
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-warning px-2">Bekleniyor</span></td>
                                    }

                                <td><a href="/Booking/ApproveReservation/@item.BookingID" class="btn mb-1 btn-rounded btn-outline-success"><i class="fas fa-check"></i></a></td>
                                <td><a href="/Booking/CancelReservation/@item.BookingID" class="btn mb-1 btn-rounded btn-outline-danger"><i class="fas fa-times"></i></a></td>
                                <td><a href="/Booking/UpdateReservation/@item.BookingID" class="btn mb-1 btn-rounded btn-outline-info"><i class="fas fa-edit"></i></a></td>
                            </tr>
            }            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

